$orange: #f2921d;
$dark-orange: #b37221;
$dark-cyan: #1c420e;
$black-text: #161616;
$background: #f6f6f4;
$darkgreen: #1c420e;
$lime: #95ad0d;
$darkblue: #003e51;
$lime-inactive: #d2d6be;
$white: #ffffff;
$harp: #eaf4ee;
